.footer__wrapper {
  margin-top: 129px;
  margin-bottom: 48px;
  display: flex;
  justify-content: space-between;
}
.footer__wrapper > ul {
  list-style: none;
}
.footer__wrapper > ul > .footer__link {
  margin-bottom: 5px;
}
.footer__wrapper > ul > .footer__link > a {
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  text-transform: capitalize;
  color: #8A8B8E;
}
.footer__wrapper > img {
  width: 263px;
  height: 38px;
}
.footer__phone {
  margin-bottom: 19px;
}
.footer__phone > a {
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 15px;
  display: flex;
  color: rgba(5, 9, 16, 0.5);
}
.footer__phone > a > img {
  padding-right: 7px;
}

.social__wrapper > ul {
  list-style: none;
  margin-bottom: 13px;
}
.social__wrapper > ul > .footer__location > a {
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 15px;
  color: #828487;
}
.social__wrapper > ul > .footer__location > a > img {
  margin-right: 15px;
}