.header{
  margin-top: 18px;
  position: absolute;
  left: 0;
  right: 0;
  &__wrapper{
    display: flex;
    justify-content: space-between;
  }
  &__call{
    display: block;
    width: 158px;
    height: 42px;
    padding: 15px 25px;
    text-align: center;
    color: #FF5249;
    border: 2px solid #FF5249;
    border-radius: 51px;
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 11px;
    line-height: 13px;
    text-transform: uppercase;

  }
}

.nav{
  display: flex;
  align-items: center;
  & ul{
    display: flex;
    list-style: none;
    & li {
      margin-right: 40px;

      font-family: "Roboto", sans-serif;
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 16px;
      text-align: right;
      text-transform: uppercase;
      //&:last-child{
      //  margin-right: 0;
      //}
      & a{
        text-decoration: none;
        color: #050910;
      }
    }
  }
}
.logo{
  margin-top: 6px;
}

